WEHAGO_ID=your_wehago_id
WEHAGO_PASSWORD=your_wehago_password
WEHAGO_BAEKSUNG_URL=
WEHAGO_PYEONGTAEK_URL=
WEHAGO_PARAN_URL=
WEHAGO_PYEONGTAEK_MAUL_URL=
WEHAGO_BAEKSUNG_PYEONGTAEK_BRANCH_URL=
DB_URL=your_mongodb_connection_string
SECRET_KEY=your_jwt_secret_key
REDIS_HOST=your_redis_host
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
SLACK_WEBHOOK_URL=your_slack_webhook_url
