<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <header>
      <div class="grid h-20 grid-cols-6 grid-rows-1 content-center gap-6">
        <div class="col-span-1 content-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-archive ml-6 shrink-0"
          >
            <rect width="20" height="5" x="2" y="3" rx="1" />
            <path d="M4 8v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8" />
            <path d="M10 12h4" />
          </svg>
        </div>
        <div class="col-span-4 content-center justify-items-center text-center">
          <h1 class="font-sans text-xl font-semibold">
            전표 증빙자료 아카이브
          </h1>
        </div>

        <div class="col-span-1 flex items-center justify-end pr-6 text-center">
          <button
            class="rounded-md border-1 border-gray-300 px-4 py-2 font-sans text-sm font-semibold text-gray-700 hover:bg-black hover:text-white dark:bg-black dark:text-white"
          >
            로그인
          </button>
        </div>
      </div>
    </header>
    <hr class="my-1 text-gray-300" />
    <main class="flex min-h-screen w-full items-center justify-center p-8">
      <div class="box-border h-80 w-96 rounded-lg border-2 border-gray-300 p-4">
        <h2 class="text-center font-sans text-2xl">아카이브 로그인</h2>
        <form method="POST" action="#" role="none">
          <div
            class="mt-8 mr-2 h-12 w-full rounded-lg border-1 border-gray-300"
          >
            <input
              class="h-full w-full pl-4"
              type="text"
              id="username"
              name="username"
              placeholder="아이디"
            />
          </div>
          <div
            class="mt-6 mr-2 h-12 w-full rounded-lg border-1 border-gray-300"
          >
            <input
              class="h-full w-full pl-4"
              type="password"
              id="password"
              name="password"
              placeholder="비밀번호"
            />
          </div>
          <div
            class="mt-8 mr-2 h-12 w-full rounded-xl border-1 border-gray-300 bg-black font-sans text-white"
          >
            <input class="h-full w-full" type="submit" value="로그인" />
          </div>
        </form>
      </div>
    </main>
    <hr class="my-1 text-gray-300" />
    <footer class="h-20"></footer>
    <script></script>
  </body>
</html>
